<div class="container">
    <div class="row">
        <!-- Left Column: NewMovies and PopularMovies -->
        <div class="col-lg-7">
            <div class="row">
                <!-- NewMovies Component -->
                <div class="col-12 mb-4">
                    @await Component.InvokeAsync("NewMovies")
                </div>
                <!-- PopularMovies Component -->
                <div class="col-12 mb-4">
                    @await Component.InvokeAsync("PopularMovies")
                </div>
            </div>
        </div>
        
        <!-- Right Column: PopularGenres and PopularReviews -->
        <div class="col-lg-5">
            <!-- PopularGenres Component -->
            <div class="mb-4">
                @await Component.InvokeAsync("PopularGenres")
            </div>
            <!-- PopularReviews Component -->
            <div>
                @await Component.InvokeAsync("PopularReviews")
            </div>
        </div>
    </div>
</div>
