
a {
    text-decoration: none !important;
    color: #000000 !important;
  }

.like-button {
  color: #e4e5e9 !important; /* varsayılan gri renk */
}

.like-button.liked {
  color: #dc3545 !important; /* kırmızı renk */
}
.review-content {
  position: relative;
}

.review-content .read-more {
  display: none;
}

.review-content.expanded .read-more {
  display: inline;
}

.review-content.expanded {
  white-space: normal;
}
