@model List<Genre>

<div class="container">
    <h1 class="h4 mb-4">Popular Genres</h1>
    <div class="list-group">
        @foreach (var genre in Model)
        {
            <a asp-action="List" asp-controller="Genre" asp-route-id="@genre.Id" class="list-group-item list-group-item-action">
                @genre.Name
                <span class="badge badge-primary badge-pill">@genre.Movies.Count</span>
            </a>
        }
    </div>
</div>
